body {
    font-family: "Lato", sans-serif;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidemenu {
    height: 100%;
    overflow-y: hidden;
    padding-top: 12%;

    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: white;
}

/*
.sidemenu-main-flow {
    margin-left: 15%;
    margin-right: 13%;
    /* overflow-y: scroll; */
/*}*/


.sidemenu-main {
    margin-left: 23%;
    /* overflow-y: scroll; */
}

.sideRight{

}

.tabArea {
    margin-top: 2%;
}

.flowchart-area {
    margin-top: 3%;
    overflow: auto;
    display: inline-block;
    margin-left: 12%;
    margin-right: auto;
}

.flowchart-table-area {
    margin-top: 3%;
    /* overflow: auto; */
    /* display: inline-block; */
    margin-left: 20%;
    margin-right: 20%;
}

.flowchart-header-parent {
    display: inline-flex;
}

.header-table-term {
    margin-top: 2%;
}

.header-year {
    /* float: left; */
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    /* padding-top: 0.25em; */
    /* padding-bottom: 0.25em; */
    padding: 0.5rem;
    margin-bottom: 1%;
    margin-right: 0.9rem;
    width: 15em;
    background-color: #16775d;
    color: white;
    text-align: center;
    border-radius: .25rem;
}

.header-term-parent {
    display: flex;
}

.header-term {
    padding: 0.25rem;
    margin-bottom: 5%;
    margin-right: 0.9rem;
    width: 4.4em;
    background-color: #16775d;
    color: white;
    text-align: center;
    border-radius: .25rem;
}

.change-flowchart {
    margin-top: 3%;
    margin-bottom: 3%;
}

.exportmenu {
    height: 100%;
    overflow-y: hidden;
    padding-top: 11%;

    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    margin-right: 5%;
    background-color: white;
}

.legendEntry {
    font-size: 0.85em;
    display: inline-block;
    margin-right: 2%;
}

.legendEntryFlowchart {
    font-size: 0.85em;
    display: inline-block;
    margin-right: 2%;
}

.flowchartLegendLine {
    width: 120px;
}

.legendArea {
    color: black;
    margin-bottom: 2%;
}