body {
    font-family: "Lato", sans-serif;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.prefIntro {
    height: 100%;
    background-color: #CAE0DA;
    overflow-y: hidden;
    padding-top: 20px;
}

.prefIntro-main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .prefIntro {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .prefIntro-main{
        margin-left: 23%; 
    }

    .prefIntro{
        width: 20%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 0%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.prefIntro #upper {
    min-width: 10%;
    max-width: 10%;
    position: absolute;
    left: 5%;
    top: 5%;
}

.prefIntro #lower {
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.introduction {
    padding: 10%;
}

.preference-category {
    width: 50%;
    margin: 0 auto;
    /* margin-top: 3%;
    margin-bottom: 3%; */
}

/* .preference-category-content {
    border-color: #007453;
    border-style: solid;
    padding: 3%;
} */

.checkbox-description {
    margin-left: 3%;
}

.submit-form {
    margin-top: 3%;
}

.professor-preference{
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-preference{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.days-preference{
    /* margin-top: 30px; */
    margin-bottom: 10px;
}

.timeContainer{
    margin-top: 30px;
    margin-bottom: 20px;
}

.building-preference{
    margin-top: 40px;
    margin-bottom: 20px;
}

.preference-category-content{
    margin-top: 10px;
    margin-bottom: 40px;
    border-color: #007453;
    border-style: solid;
    padding: 3%;

}

.workload-field{
    width: 210px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.break-preference{
    margin-right: 20px;
    /* margin-left: 20px; */
    width: 460px;
}

.homeIcon{
    margin-left: 20px;
}

.subheader{
    color: rgba(0, 0, 0, 0.54);
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif !important;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
    transform: scale(0.75);
    transform-origin: top left;
}

.timePreferences, .workloadPreferences, .classDetails {
    margin: 10px;
}

.timePreferences {
    margin-top: 40px;
}