.profile-category {
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.profile-category-content {
    border-color: #007453;
    border-style: solid;
    padding: 3%;
}

.checkbox-description {
    margin-left: 3%;
}

.submit-form {
    margin-top: 3%;
}